html,
body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
}

body {
    background-image: url("https://flufflaire.github.io/images/bg.jpg");
    background-size: 300%;
}

.container {
    margin: 5em;
    padding: 2em;
    background-color: rgba(208, 232, 240, 0.7);
    border-radius: 3em 0em;
}